<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular JS Inbuilt Filters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
</head>
<body ng-app="myapp" ng-controller="myController" >
    <h1>Angular JS Inbuilt Filters</h1>
    <ol>
        <li>currency</li>
        <li>date</li>
        <li>filter</li>
        <li>limitTo</li>
        <li>lowercase</li>
        <li>uppercase</li>
        <li>number</li>
        <li>orderBy</li>
    </ol>
    <div ng-init="score=10;name='Prafful Daga';">
        <h4>{{score | currency:'INR'}}</h4>
        <h4>{{score | currency}}</h4>
        <h4>{{name | uppercase}}</h4>
        <h4>{{name | lowercase}}</h4>
        <h4>{{currentDate}}</h4>
        <h4>{{currentDate | date:'shortDate'}}</h4>
        <h4>{{currentDate | date:'longDate' | uppercase }}</h4>
        <h4>{{currentDate | date:'shortTime'}}</h4>
        <h4>{{currentDate | date:'yyyy'}}</h4>
    </div>
    Filter: <input type="text" ng-model="filterName"> {{filterName}}
    <br>
    {{friends   | limitTo:2:5}}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="name in friends | filter:filterName | limitTo:5:4">
                <td>{{name}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>JSON PlaceHolder Data   </h3>
    {{users[0].address.zipcode}}
    <br>
    <table border="1">
            <thead>
                <tr>
                    <th ng-click="sortBy('id')">ID</th>
                    <th ng-click="sortBy('name')">Name</th>
                    <th ng-click="sortBy('email')">Email</th>
                    <th ng-click="sortBy('address.geo.lat')">Latitude</th>
                    <th ng-click="sortBy('address.geo.lng')">Longitude</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users | orderBy:sortByMe ">
                    <td>{{u.id}}</td>
                    <td>{{u.name}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.address.geo.lat}}</td>
                    <td>{{u.address.geo.lng}}</td>
                </tr>
            </tbody>
    </table>


    <script src="/feature/filter/filterController.js"></script>
</body>
</html>