<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
</head>

<body ng-app="myapp" ng-controller="myHeaderController" style="background-color:{{bgcolor}}">

    <div>
        <h1>Angular JS Hello World</h1>
        <p>Everything starting with "ng-" is called directive.</p>
        <p>Directive - It extends basic HTML5 Elements with more features.</p>
        <p>
            First Name:
            <input type="text" ng-model="name.firstname"><br>
            Last Name:
            <input type="text" ng-model="name.lastname"><br>
            Background Color:
            <input type="text" ng-model="bgcolor">
        </p>
        Name: {{name.firstname}} {{name.lastname}}
        <br>
        Background Color: {{bgcolor}}
        <br>
        Scores = {{scores[1]}}
    </div>

    Task:
    <input type="text" ng-model="newTask">
    <button ng-click="addTask()">Add</button>
    <br>
        <ul>
            <li ng-repeat="t in allTask;">
               {{$index}} {{t}} <button ng-click="removeTask($index)">Done</button>
            </li>
        </ul>
    <br>
    {{allTask}}
    <br>
    Need Discount: <input type="checkbox" ng-model="checkdiscount" >
     {{checkdiscount}}   
     <br>
    <img src="images/sunset.jpg" alt="SunSet" ng-if="checkdiscount"> 
        
    <script src="feature/controller/basicController.js"></script>
</body>

</html>